<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MC_Reportes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MC_CENTRAL_ConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=MC_CENTRAL;User ID=desarrollo;Password=sistemas"
      providerName="System.Data.SqlClient" />
    <add name="MC_COMPRAS_ConnectionString" connectionString="Data Source=192.168.6.97;Initial Catalog=MC_COMPRAS;User ID=desarrollo;Password=sistemas"
      providerName="System.Data.SqlClient" />
    <add name="MC_ADRYAN_ConnectionString" connectionString="Data Source=192.168.150.4;Initial Catalog=ADRYAN_MCRSCEM;User ID=desarrollo;Password=sistemas"
      providerName="System.Data.SqlClient" />
    <add name="MC_Reportes.My.MySettings.MC_COMPRASConnectionString"
      connectionString="Data Source=192.168.6.97;Initial Catalog=MC_COMPRAS;User ID=desarrollo;Password=sistemas"
      providerName="System.Data.SqlClient" />
    <add name="192.168.6.97_MC_COMPRASConnection" connectionString="XpoProvider=MSSqlServer;data source=192.168.6.97;user id=desarrollo;password=sistemas;initial catalog=MC_COMPRAS;Persist Security Info=true" />
  </connectionStrings>
  <appSettings>
    <add key="Usuario" value="salcantara" />
    <add key="CarpetaTemporalReportes" value="R:\RDesarrollo\MC_RA (Reportes Automaticos)\PlantillasRPT\" />
    <add key="CarpetaReportesPlantillas" value="R:\RDesarrollo\MC_RA (Reportes Automaticos)\PlantillasRPT\" />
    <add key="IntervaloEnvioReportesMinutos" value="5" />
    <add key="Email" value="avisosistemas@norkys.pe" />
    <add key="EmailPassword" value="rsistemas123" />
    <add key="EmailServer" value="mail.norkys.pe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RutaReporte" value="C:\Macroscem\" />
    <add key="NombreArchivoReporte" value="Reporte" />
    <add key="CarpetaXML" value="XML" />
  </appSettings> 
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MC_Reportes.My.MySettings>
      <setting name="skin" serializeAs="String">
        <value>Office 2010 Blue</value>
      </setting>
    </MC_Reportes.My.MySettings>
  </userSettings>
</configuration>